<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form action="/employee" method="POST">
	<table cellpadding="10">
		<tr>
	<td>EMPLOYEE NAME : </td>

	<td><input type="text" name="name" /> </td>
	</tr>
<tr>
	<td>AGE : </td>
	<td><input type="text" name="age" /> </td>
	</tr>
	<tr>
	<td>LOCATION : </td>
	<td><input type="text" name="loc" /> </td>
	</tr>
	<tr>
	<td>DESIGNATION :</td> 
	<td><input type="text" name="designation" /> </td>
	</tr>
	<tr><td><input type="submit" value="submit"/></td></tr>
</form>


</body>
</html>
